$primary:#077d2d;
$primaryShade1: #098c5e;
$primaryShade2: #2ADC9D;
$primaryShade3: #2da44e;
$primaryShade4: #0b6d27;
$white:#fff;
$danger:#F36F7C;
$tertiary:#F36F7C;
$secondary:#F36F7C;
$input-radius: 0.22rem;
$Grey-95: #f2f3f3;
$Grey: #161d1d;
$Grey-shade: #898b8b;
$blue: #25B7F2;
$rounded-full: 9999px;